<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Youtubevideo>
			<version>0.1.5</version>
		</Magebuzz_Youtubevideo>
	</modules>
	<frontend>
		<routers>
			<youtubevideo>
				<use>standard</use>
				<args>
					<module>Magebuzz_Youtubevideo</module>
					<frontName>video</frontName>
				</args>
			</youtubevideo>
		</routers>
		<layout>
			<updates>
				<youtubevideo>
					<file>youtubevideo.xml</file>
				</youtubevideo>
			</updates>
		</layout>
	</frontend>
	<admin>
	  <routers>
				<adminhtml>
					<args>
						<modules><Magebuzz_Youtubevideo after="Mage_Adminhtml">Magebuzz_Youtubevideo_Adminhtml</Magebuzz_Youtubevideo></modules>
					</args>
				</adminhtml>
	  </routers>
	</admin>
	<adminhtml>
			<layout>
				<updates>
					<youtubevideo>
						<file>youtubevideo.xml</file>
					</youtubevideo>
				</updates>
			</layout>
			<translate>
				<modules>
					<Magebuzz_Youtubevideo>
						<files>
							<default>Magebuzz_Youtubevideo.csv</default>
						</files>
					</Magebuzz_Youtubevideo>
				</modules>
			</translate>	
	</adminhtml>   
	<global>
		<models>
			<youtubevideo>
				<class>Magebuzz_Youtubevideo_Model</class>
				<resourceModel>youtubevideo_mysql4</resourceModel>
			</youtubevideo>
			<youtubevideo_mysql4>
				<class>Magebuzz_Youtubevideo_Model_Mysql4</class>
				<entities>
					<youtubevideo>
						<table>youtubevideo</table>
					</youtubevideo>
          <youtubevideoproduct>
						<table>youtubevideo_product</table>
					</youtubevideoproduct>
				</entities>
			</youtubevideo_mysql4>
		</models>
		<resources>
			<youtubevideo_setup>
				<setup>
					<module>Magebuzz_Youtubevideo</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</youtubevideo_setup>
			<youtubevideo_write>
				<connection>
					<use>core_write</use>
				</connection>
			</youtubevideo_write>
			<youtubevideo_read>
				<connection>
					<use>core_read</use>
				</connection>
			</youtubevideo_read>
		</resources>
		<blocks>
			<youtubevideo>
				<class>Magebuzz_Youtubevideo_Block</class>
			</youtubevideo>		
		</blocks>
		<helpers>
			<youtubevideo>
				<class>Magebuzz_Youtubevideo_Helper</class>
			</youtubevideo>
		</helpers>
    <events>
      <core_block_abstract_to_html_before>
        <observers>
          <magebuzz_youtubevideo_observer_addTabYoutubevideo>
            <type>singleton</type>
            <class>youtubevideo/observer</class>
            <method>addTabYoutubevideo</method>
          </magebuzz_youtubevideo_observer_addTabYoutubevideo>
        </observers>
      </core_block_abstract_to_html_before>
      <catalog_product_prepare_save>
        <observers>
          <magebuzz_youtubevideo_observer_assignVideoToProduct>
            <type>singleton</type>
            <class>youtubevideo/observer</class>
            <method>assignVideoToProduct</method>
          </magebuzz_youtubevideo_observer_assignVideoToProduct>
        </observers>
      </catalog_product_prepare_save>
    </events>	
	</global>
	<default>
		<youtubevideo>
			<general>
				<enable>1</enable>
			</general>	
			<display>
				<heading>Youtube Video</heading>
				<featured_video>1</featured_video>
				<featured_heading>Featured Video</featured_heading>
				<video_per_row>3</video_per_row>
				<video_player_size>480,320</video_player_size>
				<video_thumbnail_size>120,75</video_thumbnail_size>
        <show_on_product_page>1</show_on_product_page>
			</display>			
		</youtubevideo>
	</default>
</config>